---
http_interactions:
- request:
    method: post
    uri: http://api.odnoklassniki.ru/oauth/token.do
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.57 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 400 - Provide OAUTH request parameters!</h1><HR size="1" noshade="noshade"><p><b>type</b>
        Status report</p><p><b>message</b> <u>Provide OAUTH request parameters!</u></p><p><b>description</b>
        <u>The request sent by the client was syntactically incorrect.</u></p><HR
        size="1" noshade="noshade"><h3>Apache Tomcat/7.0.57</h3></body></html>'
  recorded_at: Wed, 04 Feb 2015 13:00:29 GMT
recorded_with: VCR 2.9.3
